
.product-grid-section {
  padding: 20px;
  background: #CBD5E1;
}

#featured-products {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
 
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}






